header{
display:flex;
flex-direction: column;
align-items:center;
}
.heading{
   
    font-family: 'Rubik';
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 25px;
}
.form{
    margin-top: 20px;
    margin-bottom: 50px;
}
input[type="text"] {
    padding: 10px 10px;
    width: 300px;
    height: 20px;
    font-family: "Rubik";
    font-size: 16px;
      
    text-align: left;
    background: transparent url(search.png);
    background-repeat: no-repeat;
    background-position: right;  
}
.main{
    display:flex;
    flex-wrap: wrap; 
    align-content:center;
    gap:48px 75px;
}
.movielist{
    margin: 66px auto 149px auto;
       max-width:1200px;
}
.card{
    position: relative; 
}
.card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
.card img{
    height:374px ;
    width:350px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25); 
}
.card:hover::after {
    opacity: 0.6;
    background-color: #626262;
}
.card img:hover {
    opacity: 0.6;
}
.card:hover .btn {
    display: block;
    opacity: 1;
    z-index: 3;
}
.card:hover .card-item {
    display: block;
}
.card-item{
    position: absolute;
    text-align: center;
    font-family: "Rubik";
    font-weight: 600;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipis;
    max-width: 120px;
    font-size: 25px;
    color:#ffffff;
    display: none;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    top: 45%;
    left: 50%;
    z-index: 10;
}
.btn{
        position: absolute;
        left: 29.43%;
        right: 29.14%;
        top: 76.74%;
        bottom: 11.76%;
        height: 43px;
        width: 145px;
        background-color: #352C9A;
        color: #ffffff;
        border: none;
        font-family: "Rubik";
        font-size: 16px;
        font-weight: 600;
        display: none;
    }
    .btn:hover {
        background-color: #724fd8;
    }
    .btn:active {
        background-color: #724fdf;
        text-decoration: underline;
    }
    .btn:disabled {
        background-color: #626262;
    }
 .noresult{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
.noresult-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noresult-text{
    margin-bottom: 48px;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 32px;
 }
.noresult-img {
   max-width: 500px;
    width: 100%;
     margin: 24px auto 81px auto;

}
@media(max-width:480px) {
    
    .main {
        width: 100%;
    }

    .card {
        margin: 24px auto 24px auto;
    }
    .card img {
        width: 300px;
        height: 320px;
    }
    .btn {
        height: 37px;
        width: 125px;
        left: 88px;
        top: 246px;
        border-radius: 0px;

    }
    .noresult-area {
        width: 100%;
    }
  .noresult-img {
        width: 620px;
        height: 447px;
        margin: 24px auto 81px auto;
    }
    .noresult-text {
       
        margin-bottom: 24px;
    }
}


 